.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

.logoImg{
    width: 128px;
}

.headerText{
    font-size: 64px;
    color: white;
    text-transform: uppercase;
}